<head>
    <title>Splurty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Conspiracies">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link href="splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>

    <br />
    <p>
        Splurty was built by <a target="_blank" href="https://github.com/neetmangat">Neet</a>, a web developer that is on a mission to showcase his skills and entertain visitors to this site.
    </p>
    <br />

    <p>
        In a day and age where the internet is rampant with misinformation, this site was built to showcase some of the extreme bits of information that is not corroborated or particularly factual. <br><br> 
        Is it false? We don't know. <br>
        Is it true? That has yet to be proven.
    </p>

    <p>
        If you appreciate this site and want to support further development, send BTC to this address: <br />
        <br />
            <b><i>Segwit:</i></b> 3BejtWcnDGMPg22H2AJBeWUKZZNz3F3b3s <br />
            <b><i>Native Segwit:</i></b> bc1qs229js29g2d67fyza6zw6v0lzqfnl2rtvecgur <br />
    </p>
    <br />
    <br />


    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag 'bio_pic.png', class: 'img-fluid' %>
        </div>

        <div class="col-12 col-sm-7 offset-sm-1">
            <h3 class="text-center">Neet Mangat</h3>
            <br />
            <p>
                Neet Mangat is a Full Stack Developer that is also certified in Salesforce Administration. <br />
                With his entrepreneurial spirit, he founded an entertainment company and marketing company as well. <br />
                In his free time, he loves to produce music, create videos, and read.
            </p>
        </div>
    </div>
    <br class="clear" />
    <br>
    <br>
    <br>
    <br>


</div>